.App {
  text-align: center;
}

body {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #eceae7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}

/* end of header */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  width: 70%;
}

.content {
  text-align: center;
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 18px 30px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 18px 28px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #A47551;
  color: #000;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #A47551;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}